body {
  font-family: sans-serif;
}
#app{
  --gap: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(1 * var(--gap)) 0 var(--gap) calc(2 * var(--gap));
  padding: calc(1 * var(--gap)) 0 0 calc(2 * var(--gap));
  width: calc(100% + var(--gap));

}
#app  img {
  margin: var(--gap) var(--gap) 0 var(--gap);
  width: 100%;
  max-width: 400px;
  border:  1px solid  crimson;
}
figure{
  margin-block: 0;
  margin-inline: 0;
}
figure:hover {
  margin:0;
  box-shadow:  -6px 10px 10px -6px crimson;
}